* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 98vh;
}

.rectangle1 {
    width: 344px;
    height: 88px;
    background-color: #C00000;
}

#logo {
    width: 272.23px;
    height: 78.45px;
}

.rectangle2 {
    width: 426px;
    height: 40px;
    border: 1px solid black;
    border-radius: 5px;
}

.rectangle3 {
    width: 1660px;
    height: 740px;
    background-color: #d9d9d9;
    margin-left: 10px;
}

.rectangle4 {
    width: 500px;
    height: 40px;
    background-color: white;
    border-radius: 5px;
}

.rectangle5 {
    width: 190px;
    height: 40px;
    background-color: white;
    border-radius: 5px;
}

.rectangle6 {
    width: 200px;
    height: 40px;
    background-color: #0e70eb;
    border-radius: 5px;
    color: white;
    text-align: center;
}

.rectangle7 {
    width: 180px;
    height: 40px;
    border: 1px solid #0e70eb;
    border-radius: 5px;
    color: black;
    text-align: center;
}

.navbar {
    height: 90px;
    background-color: #C00000 !important;
}

.btn-white {
    color: white !important;
}

.special-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 20px;
}

.btn-special-menu {
    text-align: center;
}

.btn-special-menu-icon {
    height: 55px;
}

.btn-special-menu-text {
    margin-top: 5px;
}

.fluid-container {
    background-color: #eeeeee;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

label {
    align-self: center;
    width: 300px;
    margin-right: 5px;
    margin-bottom: 0 !important;
}

.form-check-input {
    transform: scale(2) !important;
    margin-right: 10px;
}

.form-check-label {
    margin-left: 8px;
}

th, td {
    padding: 8px 0;
  }

  a{
    /* color: black !important; */
    text-decoration: none !important;
}  
